header{
	position: absolute;
    width: 1440px;
    height: 82px;
    left: 0px;
    top: 0px;
    background: #e2e2e2;
}
.logo{
  position: absolute;
  width: 81px;
  height: 34px;
  left: 120px;
  top: 25px;
}
menu{
    position: absolute;
    width: 415px;
    height: 15px;
    left: 300px;
    top: 34px;
}
.m-1{
    position: absolute;
    width: 56px;
    height: 15px;
    left: 300px;
    top: 34px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.02em;

    color: #000000;
}
.m-2{
    position: absolute;
    width: 98px;
    height: 15px;
    left: 402px;
    top: 34px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.02em;
    
    color: #000000;
}
.m-3{
    position: absolute;
    width: 54px;
    height: 15px;
    left: 551px;
    top: 34px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.02em;

    color: #000000;
}
.m-4{
    position: absolute;
    width: 64px;
    height: 15px;
    left: 641px;
    top: 34px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.02em;

    color: #000000;
}
*{
    margin: 0;
    padding: 0;
   }
  
  .wrap{
    position: absolute;
    top: 50%;
    left: 67%;
    transform: translate(-50%, -50%);
    width: 0px;
    height: 30px;
    background: #817EFF;
    line-height: 30px;
    padding-right: 30px;
    border-radius: 5px;
    transition: all 0.5s ease;
  }
  .input{
    border: 0;
    background: transparent;
    width: 0%;
    outline: none;
    font-family: sans-serif;
    font-size: 18px;
    color: #fff;
    font-style: italic;
    transition: all 0.3s ease;
    position: relative;
  }
  
  .wrap .fa{
    color: #fff;
    position: absolute;
    right: 8px;
    top: 8px;
    font-size: 15px;
    cursor: pointer;
  }
  
  .wrap.active{
    width: 250px;
    padding-left: 25px;
    transition: all 0.5s ease;
  }
  
  .input.active{
    width: 98%;
    padding-left: 5px;
    transition: all 0.5s 0.8s ease;
  }
  
  input::placeholder {
    color: #fff;
  }

  .button{
    border: none;
    outline: none;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
  
    font-family: Roboto, sans;
    padding: 12px 16px;
    border-radius: 100px;
    color: #fff;
    
    font-family: 'Roboto';
    font-style: normal;
    font-size: 13px;
    letter-spacing: 0.02em;
  }

  .button.color {
    position: absolute;
    left: 70%;
    top: 26%;
    background: #54B4EA;
  }
  .button.purple {
    position: absolute;
    left: 76%;
    top: 26%;
    background: #817EFF;
  }
  #circle {
    position: absolute;
    width: 300px;
    height: 300px;
    left: 222px;
    top: 175px;
    -moz-border-radius: 150px;
    -webkit-border-radius: 150px;
    border-radius: 150px;
    background: rgba(0, 0, 0, 0.08);
  }
  p{
    position: absolute;
    width: 211px;
    height: 19px;
    left: 195px;
    top: 50px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */

    letter-spacing: 0.02em;

    color: #000000;
  }
  .textB{
    position: absolute;
    width: 259px;
    height: 114px;
    left: 195px;
    top: 80px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0.02em;

    color: #000000;
  }
  .textC{
    position: absolute;
    width: 259px;
    height: 114px;
    left: 195px;
    top:200px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0.02em;

  color: #000000;
  }
  #circle_2 {
    position: absolute;
    width: 300px;
    height: 300px;
    left: 850px;
    top: 175px;
    -moz-border-radius: 150px;
    -webkit-border-radius: 150px;
    border-radius: 150px;
    z-index: -1;
    background: #addefa;
  }
  #circle_3 {
    position: absolute;
    width: 300px;
    height: 300px;
    left: 800px;
    top: 175px;
    -moz-border-radius: 150px;
    -webkit-border-radius: 150px;
    border-radius: 150px;
    background: rgba(0, 0, 0, 0.08);
    background: #54B4EA
  }
  #rectangle{
    position: absolute;
    width: 816px;
    height: 100px;
    left: 300px;
    top: 568px;

    background: #D9D9D9;
    border-radius: 10px;
  }
  .Reclama{
    position: absolute;
    width: 615px;
    height: 23px;
    left: 30px;
    top: 13px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.02em;
    }
    .textRec{
      position: absolute;
      width: 588px;
      height: 23px;
      left: 30px;
      top: 50px;

      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.02em;

      color: #000000;
    }
    /*крестик закрытия рекламного блока*/
    .cl-btn-7 {
      width: 40px;
      height: 40px;
      border-radius: 40px;
      position: relative;
      z-index: 1;
      margin: 20px auto;
      cursor: pointer;
  }
  .cl-btn-7:before {
      content: '+';
      color: #000000;
      position: absolute;
      z-index: 2;
      transform: rotate(45deg);
      font-size: 50px;
      line-height: 1;
      top: -20px;
      left:  380px;
      transition: all 0.3s cubic-bezier(0.77, 0, 0.2, 0.85);
  }
  .cl-btn-7:hover:after {
      transform: scale(1);
  }
  .cl-btn-7:hover:before {
      transform: scale(0.8) rotate(45deg);
      color: #817EFF;
  }
  /*3 блок*/
  #rectangle_2{
    position: absolute;
width: 1200px;
height: 654px;
left: 121px;
top: 682px;

background: #D9D9D9;
border-radius: 12px;
  }
  .text3{
    position: absolute;
width: 421px;
height: 38px;
left: 179px;
top: 38px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 38px;
/* identical to box height */
letter-spacing: 0.02em;
white-space: nowrap;
color: #000000;
  }
  .line{
    position: absolute;
width: 1098.02px;
height: 0px;
left: 97px;
top: 87px;

border: 2px solid #000000;
transform: rotate(-180deg);
  }
  .t-1{
    position: absolute;
    width: 157px;
    height: 28px;
    left: 222px;
    top: 826px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;

    color: #000000;
  }
.t-2{
  position: absolute;
width: 130px;
height: 28px;
left: 222px;
top: 1009.75px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 28px;
letter-spacing: 0.02em;

color: #000000;
}
.t-3{
  position: absolute;
width: 167px;
height: 28px;
left: 222px;
top: 1194px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 28px;
letter-spacing: 0.02em;

color: #000000;
}